<div mat-dialog-title class="dialogTitle">
  <h1>請選擇城市</h1>
  <h1 class="pointer" mat-dialog-close><i class="fas fa-times"></i></h1>
</div>
<mat-dialog-content (keyup.enter)="close()">
  <mat-radio-group class="cityContainer" [(ngModel)]="selectedCity">
    <!-- PC版本 -->
    <ng-container *ngIf="currentDeviceType === DeviceType.Desktop">
      <div class="cityGroup" *ngFor="let group of cityGroupList">
        <div class="cityTitle green pointer">{{ group.groupName }}</div>

        <ng-container *ngFor="let city of group.citys">
          <mat-radio-button class="cityItems" [value]="city" #rdb
            >{{ city.zhtw }}
          </mat-radio-button>
        </ng-container>
      </div>
    </ng-container>

    <!-- mobile、tablet版本 -->
    <ng-container *ngIf="currentDeviceType !== DeviceType.Desktop">
      <div class="cityGroup">
        <mat-expansion-panel *ngFor="let group of cityGroupList">
          <mat-expansion-panel-header>
            <mat-panel-title class="green">
              {{ group.groupName }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-radio-button
            #rdb
            class="cityItems"
            [value]="city"
            *ngFor="let city of group.citys"
            >{{ city.zhtw }}</mat-radio-button
          >
        </mat-expansion-panel>
      </div>
    </ng-container>
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="dialogAction pointer textCenter">
    <div class="selectedInfo">
      <span *ngIf="selectedCity?.zhtw">
        目前選擇 ：<span class="blue">{{ selectedCity?.zhtw }}</span>
      </span>
    </div>
    <div class="dismissBtn color7" (click)="close()">確定</div>
  </div>
</mat-dialog-actions>
