.container {
  display: flex;
  .filter {
    background-color: white;
    width: 304px;
    height: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // 選擇城市
    .city {
      width: 177px;
      height: 74px;
      .title {
        font-weight: bold;
        margin-bottom: 20px;
      }
      .selector {
        display: flex;
        justify-content: space-between;
        width: 150px;
        background-color: lightgray;
        color: black;
        cursor: pointer;
        text-align: center;
        padding: 10px;
        border-radius: 6px;
      }
    }
    // 選擇距離
    .distance {
      margin: 20px 0;
      width: 214px;
      height: 157px;
      .title {
        font-weight: bold;
        margin-bottom: 20px;
      }
      .distanceOptionGroup {
        display: flex;
        flex-direction: column;
        .distanceOption {
          margin: 4px;
        }
      }
    }
    // 排序
    .order {
      margin: 20px 0;
      width: 175px;
      height: 70px;
      .title {
        font-weight: bold;
      }
    }

    // 搜尋自行車路線
    .serachBikeLine {
      width: 150px;
      background-color: lightgray;
      color: black;
      cursor: pointer;
      text-align: center;
      padding: 10px;
      margin-top: 20px;
      border-radius: 6px;
    }
  }
  .serachContainer {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    flex-direction: column;
    height: 70vh;
    .searchResult {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 10px;
      padding: 30px;
      text-align: center;
      height: 100%;
      .item {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        min-height: 150px;
        border-radius: 10px;
        justify-content: space-between;
        align-items: flex-start;
        border: 1px #bdbdbd solid;
        padding: 10px;
        line-height: 25px;
        .title {
          font-size: 25px;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          width: 100%;
          .cityName {
            font-size: 16px;
          }
        }
      }
    }
    .paginitor {
      text-align: center;
    }
  }
}
