<div class="filter">
  <div class="city">
    <p class="title color1"><i class="fas fa-map-marker-alt"></i> 城市</p>
    <div class="selector" (click)="openCitySelector()">
      {{ currentSelectedCity?.zhtw || "選擇城市" }}
    </div>
  </div>
  <div class="distance">
    <p class="title">距離</p>
    <mat-radio-group class="distanceOptionGroup">
      <mat-radio-button
        class="distanceOption"
        [value]="item.value"
        *ngFor="let item of distanceOptions"
        >{{ item.key }}</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <div class="order">
    <p class="title">排序</p>
    <mat-form-field>
      <mat-label>選擇排序</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let orderOption of orderOptions"
          [value]="orderOption.value"
        >
          <span [innerHTML]="orderOption.key"></span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="serach">搜尋自行車路線</div>
</div>
