<div class="navContainer">
  <div class="nav">
    <div class="basicInfo">
      <a routerLink="/" class="logo">
        <img src="assets/images/logo.png" alt="logo" />
      </a>
      <div *ngIf="currentDeviceType === DeviceType.Desktop">
        <ul class="menu">
          <li>
            <a
              routerLink="/bikeStation"
              [routerLinkActive]="'active'"
              class="color3"
              >Youbike 租借站點</a
            >
          </li>
          <li>
            <a
              routerLink="/bikeLine"
              [routerLinkActive]="'active'"
              class="color3"
              >自行車路線</a
            >
          </li>
          <!-- <li>
            <a
              routerLink="/scenicSpot"
              [routerLinkActive]="'active'"
              class="color3"
              >美食景點</a
            >
          </li> -->
        </ul>
      </div>
    </div>
    <div class="weatherInfo">
      <div class="weatherInfoItem color4">
        <i class="fas fa-cloud"></i><span>多雲</span>
      </div>
      <div class="weatherInfoItem color4">
        <i class="fas fa-thermometer-full"></i> <span>18℃</span>
      </div>
    </div>
  </div>
  <div class="mobileDevice" *ngIf="currentDeviceType !== DeviceType.Desktop">
    <ul class="menu">
      <li>
        <a
          routerLink="/bikeStation"
          [routerLinkActive]="'active'"
          class="color7"
          >Youbike 租借站點</a
        >
      </li>
      <li>
        <a routerLink="/bikeLine" [routerLinkActive]="'active'" class="color7"
          >自行車路線</a
        >
      </li>
      <!-- <li>
        <a routerLink="/scenicSpot" [routerLinkActive]="'active'" class="color7"
          >美食景點</a
        >
      </li> -->
    </ul>
  </div>
</div>
