<div class="searchBar">
  <input
    matInput
    type="text"
    placeholder="搜尋 Youbike 租借站"
    class="color1"
    [matAutocomplete]="auto"
    [(ngModel)]="keyword"
  />
  <a (click)="search()"><i class="fas fa-search"></i></a>
</div>
<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
  <mat-option
    *ngFor="let option of autoCompleteOptions"
    [value]="autoCompleteOptions"
  >
    <div class="autoCompleteOption color1">
      <i class="fas fa-location-arrow"></i>{{ option }}
    </div>
  </mat-option>
</mat-autocomplete>

<google-map
  class="map"
  height="100%"
  width="100%"
  [zoom]="zoom"
  [center]="currentPosition"
  [options]="options"
>
  <map-marker
    *ngFor="let marker of markerPositions"
    [position]="marker"
    [options]="markerOptions"
  ></map-marker>
  <map-polyline [options]="polyOptions" [path]="polyPath"></map-polyline>
</google-map>
