// 設計稿使用的主要色系

.color1 {
  color: #f25c54;
}

.color2 {
  color: #83c5be;
}

.color3 {
  color: #141414;
}

.color4 {
  color: #747578;
}

.color5 {
  color: #bdbdbd;
}

.color6 {
  color: #f8f8f8;
}

.color7 {
  color: #ffffff;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.gray {
  color: gray;
}
